body{
  background-color: #818182;
}
/*h1 {
  color: blue;
  text-align: right;
}*/
p {
  font-family: "Lucida Console";
  font-size: 15px;
}
#footer {
    position: fixed;
    bottom: 0px;
    height:30px;
    width:100%;
    background-color: white;
}
#head {
  color: #64A84D;
  text-align: center;
  font-size: 30px;
}
#code {
  color: white;
  background-color: black;
  font-family: "Courier New";
  font-size: 12px;
}
#code.ex {
  width: 600px;
}
