body{
  background-color: #A9AAD4;
}
/*h1 {
  color: blue;
  text-align: right;
}*/
p {
  font-family: "Lucida Console";
  font-size: 20px;
}
.footer {
    position: fixed;
    bottom: 0px;
    height:30px;
    width:100%;
    background-color: white;
}
.head {
  color: red;
  text-align: center;
  font-size: 30px;
}
