body{
  background-color: #858585;
}
p {
  font-family: "Lucida Console";
  font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2,h3,h4,h5,h6 {
    color: rgba(176, 206, 182, 0.54);
    text-align: center;
    font-family: "Lucida Console";
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
        margin-left: auto;
    margin-right: auto;
    background-color: #285828;
}
th, td {
    text-align: center;
    padding: 5px;
}
.footer {
    position: fixed;
    bottom: 0px;
    height:70px;
    width:100%;
    background-color: #555;
}
.head {
    padding-top: 15px;
  color: #64A84D;
  text-align: center;
  font-size: 30px;
    font-family: monospace;
}
.top {
    text-align: center;
    position: fixed;
    top: 109px;
    right: -30px;
    height: auto;
    width: 20%;
    background-color: white;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    
}
.code {
  color: white;
  background-color: #4d4848;
  font-family: "Courier New";
  font-size: 12px;
  width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* unvisited link */
.top a:link {
    color: black;
}

/* visited link */
.top a:visited {
    color: #2d1daa;
}

/* mouse over link */
.top a:hover {
    color: #227c12;
}

/* selected link */
.top a:active {
    color: #7eba6a;
}
.unTopBar {
    background-color: #242323;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
