classes {
  background-color: #818182;
  width: 100%;
}
name {
    display: block;
    color: #000000;
    margin-left: 20px;
}
prereq {
    display: block;
    color: #000000;
    margin-left: 60px;
}
full,level {
  display: block;
  color: #000000;
  margin-left: 40pt;
}
